[user]
	email = abraao.teodosio@gmail.com
	name = AbraaoAlves
[init]
  defaultBranch = main

[color]
	ui = true

[core]
	editor = code --wait

[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

